[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# general
setuptools = "*"
pip = ">=21.1"
wheel = "*"
# anno
"biocommons.seqrepo" = "==0.4.5"
argparse = "*"
blinker = "*"
Cython = "*"
data-spaces = {editable = true, ref = "v0.1.2", git = "https://gitlab.com/ousamg/data-spaces.git"}
flake8 = "*"
Flask = "*"
Flask-RESTful = "*"
hgvs = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
pdbpp = "*"
psutil = "*"
pyrsistent = "*"
pysam = "*"
pytest = "*"
PyYAML = "*"
supervisor = "*"
toml = "*"
Werkzeug = "*"
yoyo-migrations = "*"
# anno-builder
biopython = "*"
crcmod = "*"
jsonschema = "*"
lxml = "*"
pyfaidx = "*"
pydantic = "*"

[dev-packages]
black = "*"
flake8 = "*"
ipython = "*"
pytest = "*"
mypy = "*"
types-pyyaml = "*"
types-toml = "*"

[requires]
python_version = "3.9"

[scripts]
linter = "./tests/opstests/lint_shell_scripts.py"
