[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# general
setuptools = "*"
pip = ">=21.1"
wheel = "*"
# anno
"biocommons.seqrepo" = "==0.4.5"
argparse = "*"
blinker = "*"
Cython = "*"
data-spaces = {editable = true, ref = "5c0801810903674a8f31a8dda249854a5fb7580a", git = "https://gitlab.com/ousamg/data-spaces.git"}
flake8 = "*"
Flask = "*"
Flask-RESTful = "*"
hgvs = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
pdbpp = "*"
psutil = "*"
pyrsistent = "*"
# Force pysam to use github repo until fix for setuptools makes it to a release
# ref: https://github.com/pysam-developers/pysam/commit/f31f6dc5f5876957bf9bb1eb393e3344d3e9768b
pysam = {ref = "92f8a51fa49ab5e8c8d72750ff3adef0bc4a9a48", git = "https://github.com/pysam-developers/pysam.git"}
pytest = "*"
PyYAML = "*"
supervisor = "*"
toml = "*"
Werkzeug = "*"
yoyo-migrations = "*"
# anno-builder
biopython = "*"
crcmod = "*"
jsonschema = "*"
lxml = "*"
pyfaidx = "*"

[dev-packages]
# set black version explicitly so we can avoid allow_prerelease = true
black = "==21.6b0"
flake8 = "*"
ipython = "*"
pytest = "*"
mypy = "*"
types-pyyaml = "*"
types-toml = "*"

[requires]
python_version = "3.9"

[scripts]
linter = "./tests/opstests/lint_shell_scripts.py"
