/* Fix for IE not displaying the navbar correctly. */
.navbar .links{
	display: block;
}
.figure {
	margin: 1.5rem 1rem 1.5rem 1rem;
}
.figure_text {
	margin: 1.5rem 1rem 1.5rem 1rem;
	font-size: 80%;
}