/* Fix for IE not displaying the navbar correctly. With migration to VuePress >v1, this file should probably be renamed+moved to ./vuepress/styles/index.styl */
.navbar .links{
	display: block;
}
